name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - name: Create airflow env
      run: make setup
    - name: Run tests
      run: make testing
